* {
    box-sizing: border-box;
}

/* Body du site */
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, 'sans-serif';
    font-weight: 400;
    font-size: 120%;
    line-height: 1.4;
    color: var(--Noir);
    background: var(--Blanc);

    main {
        padding: 20px;
        margin: auto;
        max-width: 600px;
    }
}

/* Liens hypertext */
a {
    text-underline: none;
    color: var(--Vert_salade);

    &:hover {
        color: var(--Beige_pain);
        cursor: pointer;
    }
}

/* Titres principaux */
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: var(--Jaune_fromage);
    font-size: 4rem;
    line-height: 0.9;
}

h2 {
    font-size: 2.5rem;
    margin: 60px 0 20px 0;
}

/* Paragraphe */

p {
    line-height: 1.5;
}

.text-intro {
    font-size: 1.3rem;
    font-style: italic;
    text-transform: uppercase;
}

/* Listes à puces */
ul {
    list-style-type: none;
    padding: 0;
    max-width: 95%;
    margin: 40px auto;

    li {
        background: var(--Beige_pain);
        color: var(--Blanc);
        padding: 10px 40px;

        &:first-child {
            border-radius: 30px 30px 0 0;
        }

        &:last-child {
            border-radius: 0 0 30px 30px;
        }

        &.yellow {
            border-bottom: var(--Jaune_fromage) solid 5px;
        }

        &.green {
            border-bottom: var(--Vert_salade) solid 10px;
            background: var(--Brun_viande);
        }
    }
}

/********************* HEADER *********************/

header {
    background: var(--Noir);
    text-align: center;
    padding: 10px;

    img {
        max-height: 160px;
    }
}

/********************* FOOTER *********************/

footer {
    background: var(--Brun_viande);
    color: var(--Blanc);
    text-align: center;
    padding: 10px;
    margin: 20px auto 40px;
    max-width: 400px;
    min-height: 50px;
    border-top: solid 30px var(--Beige_pain);
    border-bottom: solid 30px var(--Beige_pain);
    border-radius: 30px;
}

/* Variables des couleurs du site */
:root {
    --Beige_pain : #E8A062;
    --Brun_viande : #823922;
    --Vert_salade : #00A24B;
    --Jaune_fromage : #FDC032;
    --Blanc : #ffffff;
    --Noir : #000000;
}